.dropdown-menu {
  height: 69px;
  width: 170px;
  position: relative;
}

.dropdown-menu__input {
  height: 100%;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 0 19px;
  border-radius: 5px;
  width: 100%;
}

.dropdown-menu__input::placeholder {
  color: white;
}
.dropdown-menu__input:focus {
  outline: none;
}
.dropdown-menu:nth-child(1) .dropdown-menu__input {
  background-color: var(--color-secondary);
}
.dropdown-menu:nth-child(2) .dropdown-menu__input {
  background-color: var(--color-tertiary);
}
.dropdown-menu:nth-child(3) .dropdown-menu__input {
  background-color: var(--color-primary);
}

.dropdown-menu__icon {
  position: absolute;
  height: 10px;
  width: 16px;
  top: 40%;
  right: 0;
  margin-right: 18px;
  transform: rotate(180deg) translate(0, -50%);
}

.dropdown-menu__input:focus ~ .dropdown-menu__icon {
  transform: rotateY(0deg);
}

.dropdown-menu__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: white;
  font-size: 18px;
  margin-top: -19px;
  z-index: 1;
  width: 100%;
  background-color: aliceblue;
}

/* Bug flex box: ul n'adapte pas sa largeur avec flex wrap. Ajout du container pour contourner le bug */
.item-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-secondary);
  border-radius: 0 0 5px 5px;
}

.dropdown-menu__input:focus + .dropdown-menu__menu {
  display: flex;
}

.dropdown-menu__menu li {
  padding: 10px 19px;
  width: 170px;
}

.dropdown-menu--expanded {
  width: 510px;
}

/* TODO: Associer les différentes classes avec le JS (normal ou "expanded") */
/* TODO: Ajouter les interraction avec l'input et le chevron apd JS */
/* TODO: Adapter le placeholder avec JS quand le menu est expanded */
