.dropdown-menu {
  position: relative;
  height: 69px;
  width: 170px;
}

.dropdown-menu__input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 19px;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.dropdown-menu__input::placeholder {
  color: white;
}
.dropdown-menu--expanded .dropdown-menu__input::placeholder {
  opacity: 50%;
  color: white;
}
.dropdown-menu__input:focus {
  outline: none;
}

.dropdown-menu__icon {
  position: absolute;
  top: 40%;
  right: 0;
  height: 10px;
  width: 16px;
  margin-right: 18px;
  transform: rotate(180deg) translate(0, -50%);
  cursor: pointer;
}

.dropdown-menu--expanded .dropdown-menu__icon {
  transform: rotateY(0deg);
}

.dropdown-menu__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150%;
  margin-top: -19px;
  font-size: 18px;
  color: white;
  z-index: 1;
}

/* Bug flex box: ul n'adapte pas sa largeur avec flex wrap. Ajout du container pour contourner le bug */
.item-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0 0 5px 5px;
  max-height: 40vh;
  overflow-y: scroll;
}

.dropdown-menu[data-open="true"] .dropdown-menu__menu {
  display: flex;
}

.dropdown-menu__menu li {
  width: 170px;
  padding: 10px 19px;
  cursor: pointer;
}
.dropdown-menu__menu li:hover {
  opacity: 70%;
}
.dropdown-menu--expanded {
  width: 510px;
}
/* TODO: (mentor) Sass autorisé?  */
/* TODO: Associer les différentes classes avec le JS (normal ou "expanded") */
/* TODO: Ajouter les interraction avec l'input et le chevron apd JS */
/* TODO: Adapter le placeholder avec JS quand le menu est expanded */
